/*PDF CSS. prince -s ../tor.css output.html -o output.pdf*/

@font-face {
	font-family: "ArnoPro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ArnoPro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-Bold.otf');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "ArnoPro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-Italic.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "ArnoPro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-BoldItalic.otf');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "ArnoPro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-Smbd.otf');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "ArnoPro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-LightDisplay.otf');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "ArnoPro-SmText";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-SmText.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ArnoPro-SmText";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-BoldItalicSmText.otf');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "ArnoPro-SmText";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-SmbdSmText.otf');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "ArnoPro-SmText";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-BoldSmText.otf');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "ArnoPro-Caption";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-Caption.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ArnoPro-Caption";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-ItalicCaption.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "ArnoPro-BoldSubhead";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/ArnoPro-BoldSubhead.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "AromaNo2LTPro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/AromaNo2LTPro-Italic.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "AromaNo2LTPro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/AromaNo2LTPro-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MinionPro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/MinionPro-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MyriadPro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/MyriadPro-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SourceCodePro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/SourceCodePro-Medium.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SourceCodePro";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/SourceCodePro-Bold.otf');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "TimesNewRomanPSMT";
	src: url('/Users/nellie.mckesson/Documents/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts/TimesNewRomanPSMT.ttf');
	font-style: normal;
	font-weight: normal;
}

@page {
	size: 5in 8in;
	margin: 0.72in 0.75in 0.66in 0.75in;
	padding: 34pt 0 0.36in 0;
	background-image: url("/Users/nellie.mckesson/git/bookmaker_pdfmaker/css/torDOTcom/tor.png");
	background-position: top left;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

@page chapter {
	@top-center {
		font-family: "ArnoPro";
		text-align: center;
		font-style: italic;
		font-size: 8.5pt;
		vertical-align: bottom;
		padding: 0;
		margin: 0;
	}
	@bottom-center {
		font-family: "ArnoPro";
		font-variant: prince-opentype(onum);
		content: counter(page);
		text-align: center;
		font-size: 8.5pt;
		vertical-align: top;
	}
}

@page chapter:left {
	@top-center {
		content: string(author);
	}
	
}

@page chapter:right {
	@top-center {
		content: string(title);
	}
}

@page chapter:first {
	margin-top: 2.16in;
	@top-center {
		content: normal;
	}
}

@page chapter:blank {
	margin-top: 2.16in;
	@top-center {
		content: normal;
	}
	@bottom-center {
		content: normal;
	}
}

body {
	font-family: "ArnoPro", serif;
}

section, p, div, h1, h2, h3, h4, h5, h6 {
	display: block;
}

img {
	max-width: 100%;
	image-resolution: from-image;
}

p {
	font-size: 12pt;
	line-height: 16pt;
	text-indent: 16pt;
	text-align: justify;
	text-align-last: left;
	margin: 0;
	widows: 2;
	orphans: 2;
	hyphenate-lines: 3;
}

p:first-of-type, 
p[class^="SpaceBreak"] + p {
	text-indent: 0;
}

p[class*="SpaceBefore"] {
	margin-top: 16pt;
}

p[class*="SpaceAround"] {
	margin-top: 16pt;
	margin-bottom: 16pt;
}

p[class*="SpaceAfter"] {
	margin-bottom: 16pt;
}

p.SpaceBreakOrnamentorn {
	text-align: center;
	text-indent: 0;
	margin-top: 8pt;
	margin-bottom: 8pt;
}

section[data-type="halftitlepage"], 
section[data-type="titlepage"], 
section[data-type="preface"], 
section[data-type="copyright-page"], 
section[data-type="alsoby"] {
	page-break-after: always;
}

section[data-type="halftitlepage"] > h1, 
p.HalftitleBookTitlehtit {
	font-size: 18pt;
	font-weight: normal;
	line-height: 16pt;
	margin-top: 16pt;
	text-align: center;
}

section[data-type="preface"] > h1 {
	font-size: 12pt;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0.65in;
	margin-bottom: 0.33in;
}

section[data-type="preface"] p {
	text-align: center;
}

section[data-type="titlepage"] > h1 {
	font-family: "ArnoPro-BoldSubhead";
	font-weight: normal;
	font-style: normal;
	font-size: 25pt;
	line-height: 28pt;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
	string-set: title content();
}

section[data-type="titlepage"] > h1:first-child {
	margin-top: 24pt;
}

.TitlepageBookSubtitlestit + h1, 
.TitlepageSeriesTitleser + h1 {
	margin-top: 26pt;
}

h1 + .TitlepageBookSubtitlestit, 
h1 + .TitlepageSeriesTitleser {
	margin-top: 24pt;
	margin-bottom: 0;
}

.TitlepageBookSubtitlestit, 
.TitlepageSeriesTitleser {
	font-weight: normal;
	font-size: 16pt;
	line-height: 24pt;
	font-style: italic;
	text-align: center;
}

.TitlepageBookSubtitlestit:first-child, 
.TitlepageSeriesTitleser:first-child {
	margin-top: 6pt;
}

.TitlepageTranslatorNametran, 
.TitlepageContributorNamecon {
	margin-top: 32pt;
	text-align: center;
}

section[data-type="titlepage"] p.TitlepageAuthorNameau {
	font-size: 16pt;
	padding-top: 64pt;
	background-image: url('/Users/nellie.mckesson/git/bookmaker_pdfmaker/css/torDOTcom/titlepage-rule.png');
	background-size: 59pt auto;
	background-position: top;
	background-repeat: no-repeat;
	margin-top: 0;
	margin-bottom: 32pt;
	text-indent: 0;
	text-align: center;
	string-set: author content();
}

section[data-type="titlepage"] p.TitlepageImprintLineimp {
	float: bottom;
	text-align: center;
	text-indent: 0;
}

section[data-type="titlepage"] p.TitlepageImprintLineimp:before {
	content: " ";
	background-image: url("http://www.tor.com/templates/tor/images/header/mast_logo.png");
	background-position: center center;
	background-size: auto 0.5in;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 0.5in;
	text-align: center;
}

.TitlepageCitiescit, .TitlepagePublisherNamepub {
	font-family: "ArnoPro-SmText";
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 10pt;
	line-height: 16pt;
	float: bottom;
	text-align: center;
	text-indent: 0;
}

section[data-type="alsoby"] {
	text-align: center;
}

p.AdCardMainHeadacmh {
	text-transform: uppercase;
	font-size: 14pt;
	margin-top: 16pt;
	margin-bottom: 16pt;
	text-align: center;
}

p.AdCardListofTitlesacl {
	font-style: italic;
	text-align: center;
	text-indent: 0;
}

section[data-type="copyright-page"] p:first-child {
	margin-top: 16pt;
}

section[data-type="copyright-page"] p {
	font-family: "ArnoPro-SmText";
	font-size: 10pt;
	text-align: center;
}

.CopyrightTextdoublespacecrtxd {
	line-height: 32pt;
}

section[data-type="dedication"] {
	page-break-before: always;
	page-break-after: always;
}

section[data-type="dedication"] p {
	text-align: center;
	font-style: italic;
	text-indent: 0;
}

section[data-type="dedication"] p:first-child {
	margin-top: 16pt;
}

nav[data-type="toc"] {
	page-break-before: always;
	page-break-after: always;
}

nav[data-type="toc"] h1 {
	font-weight: bold;
	font-size: 16pt;
	line-height: 16pt;
	margin-top: 0;
	text-align: center;
}

nav[data-type="toc"] li {
	font-size: 11pt;
	margin-bottom: 16pt;
}

nav[data-type="toc"] li.PartNumberpn ~ li, 
nav[data-type="toc"] li.PartTitlept ~ li {
	margin-bottom: 0;
}

nav[data-type="toc"] li.PartNumberpn, 
nav[data-type="toc"] li.PartTitlept {
	margin-bottom: 24pt;
	margin-top: 32pt;
}

nav[data-type="toc"] li.PartNumberpn a, 
nav[data-type="toc"] li.PartTitlept a {
	vertical-align: top;
}

section[data-type="chapter"] {
	page: chapter;
	page-break-before: right;
	prince-page-group: start
}

/* suppression of chapter heads will be dictated programatically
section[data-type="chapter"] > h1 {
	display: none;
}*/

blockquote {
	margin-top: 16pt;
	margin-bottom: 16pt;
}

pre.poetry {
	font-family: "ArnoPro";
	margin: 16pt 52pt 16pt 36pt;
	white-space: pre-wrap;
}

pre.poetry p, pre.poetry p:first-of-type {
	text-indent: -16pt;
	font-size: 10.5pt;
}

p[class*="Extract"] {
	font-size: 10.5pt;
	margin-left: 16pt;
	margin-right: 16pt;
}

p[class*="SpaceAfter"] + p[class*="Extract"], 
p[class*="SpaceAround"] + p[class*="Extract"] {
	text-indent: 0;
}

p.SpaceBreak-1-Linels1 {
	height: 16pt;
	content: " ";
}

p.PageBreakpb {
	display: none;
}