/*

Since, at the time of this writing, Macmillan's
Word > ePub conversion tool can't yet convert all
styles to semantically appropriate elements, the
CSS here targets almost every existing style by
name. Styles with shared attributes are grouped
together as much as possible (e.g. styles that are
meant to resolve to specific heading levels,
"space before" and "space after" styles, etc), and
are otherwise grouped by the categories defined in
the Word template.

Please note that the Lists section probably has
the greatest potential for confusion, and it may
need to be updated as the conversion tool is
updated. See the comments at the top of that
section for more information.

--------------------------------------------------
RESET
--------------------------------------------------
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body {
  line-height: 1em;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }

/*
--------------------------------------------------
BASE STYLES
--------------------------------------------------
*/

body {
  font: normal normal normal 100%/1.5em Georgia,"Times New Roman",Times,serif;
  text-align: left;
  color: #000;
  background-color: #fff;
  }
p+p {
  text-indent: 1.5em;
  }
blockquote {
  margin: 1em 1.5em;
  font-style: italic;
  }
aside,
.box {
  padding: 1.5em;
  border: 2px solid #ccc;
  margin: 1em 0;
  }
.box {
  background: #eee;
  }
img {
  width: 100%;
  }
pre {
  margin: 1em 0;
  white-space: pre-wrap;
  }

/*
--------------------------
NO INDENT
--------------------------
*/

h1+p, .Head-Level-1h1+p,
h2+p, .Head-Level-2h2+p,
h3+p, .Head-Level-3h3+p,
h4+p, .Head-Level-4h4+p,
h5+p, .Head-Level-5h5+p,
h6+p, .Head-Level-6h6+p,
[class="NoIndent"],
[class*="No-Indent"] {
  text-indent: 0;
  }

/*
--------------------------
SPACE BEFORE
--------------------------
*/

[class*="SpaceBefore"] {
  margin-top: 1em;
  }

/*
--------------------------
SPACE AROUND
--------------------------
*/

[class*="SpaceAround"] {
  margin-top: 1em;
  margin-bottom: 1em;
  }

/*
--------------------------
SPACE AFTER
--------------------------
*/

[class*="SpaceAfter"] {
  margin-bottom: 1em;
  }

/*
--------------------------------------------------
INLINE ELEMENTS
--------------------------------------------------
*/

em,
.spanitaliccharactersital,
.spansmcapitalscital {
  font-style: italic;
  }
strong,
.spanboldfacecharactersbf,
.spanbolditalbem,
.spansmcapboldscbold {
  font-weight: bold;
  }
.spansmallcapscharacterssc,
.spansmcapboldscbold {
  font-variant: small-caps; /* font-size: .75em; text-transform: uppercase; */
  letter-spacing: .08em;
  }
.spanunderscorecharactersus {
  text-decoration: underline;
  }
sup,
.spansuperscriptcharacterssup {
  vertical-align: super;
  font-size: smaller;
  }
sub,
.spansubscriptcharacterssub {
  vertical-align: sub;
  font-size: smaller;
  }
.spankeyphrasekp {
  }
.spansymbolssym {
  }
.spanaccentcharactersacc {
  }
.spanpreservecharacterspre {
  white-space: pre-wrap;
  }
a,
.spanhyperlinkurl {
  color: #c00;
  text-decoration: underline;
  }
.spancross-referencexref {
  }
.spanmaterialtocometk {
  }
.spancarryquerycq {
  }
.DesignNotedn {
  }

/*
--------------------------------------------------
HEADINGS
--------------------------------------------------
COMBINATIONS
--------------------------
*/

h1+h2, h1+h3, h1+h4, h1+h5, h1+h6,
h2+h3, h2+h4, h2+h5, h2+h6,
h3+h4, h3+h5, h3+h6,
h4+h5, h4+h6,
h5+h6,
[class*="Head-Level-"]+[class*="Head-Level-"],
[class*="FMLevel-"]+[class*="FMLevel-"],
[class*="PoemLevel-"]+[class*="PoemLevel-"],
.RecipeHeadrh+.RecipeSubheadrsh,
[class*="RecipeLevel-"]+[class*="RecipeLevel-"],
.Sub-RecipeHeadsrh+.Sub-RecipeSubheadsrsh,
[class*="Sub-RecipeLevel-"]+[class*="Sub-RecipeLevel-"],
.BoxHeadbh:first-child,
.BoxHead-Level-1bh1:first-child,
.BoxHead-Level-2bh2:first-child,
.BoxHead-Level-3bh3:first-child,
.BoxHead-Level-4bh4:first-child,
.BoxHead-Level-5bh5:first-child,
.SidebarHeadsbh:first-child,
.SidebarHead-Level-1sbh1:first-child,
.SidebarHead-Level-2sbh2:first-child,
.SidebarHead-Level-3sbh3:first-child,
.SidebarHead-Level-4sbh4:first-child,
.SidebarHead-Level-5sbh5:first-child,
.BoxHeadbh+.BoxSubheadbsh,
.BoxHeadbh+[class*="BoxHead-Level-"],
[class*="BoxHead-Level-"]+[class*="BoxHead-Level-"],
.SidebarHeadsbh+.SidebarSubheadsbsh,
.SidebarHeadsbh+[class*="SidebarHead-Level-"],
[class*="SidebarHead-Level-"]+[class*="SidebarHead-Level-"],
.TableNumbertn+.TableHeadth,
.ChartNumbercrn+.ChartHeadcrh,
.ChartHeadcrh:first-child,
.ChartHeadcrh+.ChartSubheadcrsh,
.ChartHeadcrh+[class*="ChartLevel-"],
[class*="ChartLevel-"]+[class*="ChartLevel-"],
.TableHeadth+.TableSubheadtsh,
.FigureNumberfgn+.FigureHeadfgh,
.FigureHeadfgh+.FigureSubheadfgsh,
.FigureHeadfgh+[class*="FigureLevel-"],
[class*="FigureLevel-"]+[class*="FigureLevel-"],
[class*="AppendixLevel-"]+[class*="AppendixLevel-"],
[class*="NoteLevel-"]+[class*="NoteLevel-"],
[class*="BiblioLevel-"]+[class*="BiblioLevel-"],
[class*="BOBAdLevel-"]+[class*="BOBAdLevel-"] {
  margin-top: 0;
  }

/*
--------------------------
H1
--------------------------
*/

h1,
[class*="Level-1Subhead"]
.FrontSalesTitlefst,
.AdCardMainHeadacmh,
.HalftitleBookTitlehtit,
.TitlepageBookTitletit,
.TOCFrontmatterHeadcfmh,
.TOCPartTitlecpt,
.TOCChapterTitlecct,
.TOCLevel-1ChapterHeadch1,
.FMHeadfmh,
.FMTitlefmt,
.FMHeadALTafmh,
.PartNumberpn,
.PartTitlept,
.ChapNumbercn,
.ChapTitlect,
.VolumeNumbervoln,
.VolumeTitlevolt,
.CollectionBookNumberbkn,
.CollectionBookTitlebkt,
.Head-Level-1h1,
.BoxHead-Level-1bh1,
.SidebarHead-Level-1sbh1,
.TableNumbertn,
.ChartNumbercrn,
.FigureNumberfgn,
.BMHeadbmh,
.BMTitlebmt,
.BMHeadALTabmh,
.AppendixHeadaph,
.BOBAdTitlebobt {
  text-indent: 0;
  font-size: 1.5em;
  line-height: 1.25em;
  margin: .66666666666667em 0;
  }
.TOCFrontmatterHeadcfmh,
.TOCBackmatterHeadcbmh,
.TOCPartNumbercpn,
.TOCChapterNumberccn,
.PartNumberpn,
.ChapNumbercn,
.VolumeNumbervoln,
.CollectionBookNumberbkn,
.TableNumbertn,
.ChartNumbercrn,
.FigureNumberfgn {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding: .5em;
  margin-top: 0;
  }
.TOCPartNumbercpn,
.TOCFrontmatterHeadcfmh,
.TOCBackmatterHeadcbmh,
.PartNumberpn,
.VolumeNumbervoln,
.CollectionBookNumberbkn {
  background: #999;
  }
.TOCChapterNumberccn,
.ChapNumbercn,
.TableNumbertn,
.ChartNumbercrn,
.FigureNumberfgn {
  background: #eee;
/*  margin-top: 3em; */
  }
.TableNumbertn,
.ChartNumbercrn,
.FigureNumberfgn {
  color: #999;
  margin-top: 1em;
  margin-bottom: 0;
  }
.FrontSalesTitlefst,
.AdCardMainHeadacmh,
.HalftitleBookTitlehtit,
.TitlepageBookTitletit,
.PartTitlept,
.ChapTitlect,
.VolumeTitlevolt,
.CollectionBookTitlebkt {
  text-align: center;
  }
.PartTitlept:after,
.ChapTitlect:after,
.VolumeTitlevolt:after,
.CollectionBookTitlebkt:after {
  display: block;
  width: 50%;
  margin: .66666666666667em auto;
  border-top: 1px solid #000;
  content: "";
  }

/*
--------------------------
H2
--------------------------
*/

h2,
[class*="Level-2Subhead"],
.FrontSalesSubtitlefsst,
.AdCardSubheadacsh,
.TitlepageBookSubtitlestit,
.FMSubheadfmsh,
.TOCChapterSubtitleccst,
.PartSubtitlepst,
.ChapSubtitlecst,
.Head-Level-2h2,
.BoxHead-Level-2bh2,
.SidebarHead-Level-2sbh2,
.BMSubheadbmsh,
.AppendixSubheadapsh,
.IndexInternalSubheadih1,
.BOBAdSubtitlebobst {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: bold;
  margin: 1em 0 0 0;
  }
.FrontSalesSubtitlefsst,
.AdCardSubheadacsh,
.TitlepageBookSubtitlestit,
.PartSubtitlepst,
.ChapSubtitlecst {
  text-align: center;
  margin-bottom: 1em;
  }
.PartSubtitlepst:after,
.ChapSubtitlecst:after {
  display: block;
  width: 25%;
  margin: 1em auto;
  border-top: 1px solid #000;
  content: "";
  }

/*
--------------------------
H3
--------------------------
*/

h3,
[class*="Level-3Subhead"],
.FrontSalesQuoteHeadfsqh,
.PartContentsMainHeadpcmh,
.Head-Level-3h3,
.IngredientsHeadrih,
.Sub-RecipeIngredientsHeadsrih,
.Menumenu,
.RecipeVarHeadrvh,
.RecipeNoteHeadrnh,
.Extract-NoteHeadextnh,
.BoxHead-Level-3bh3,
.SidebarHead-Level-3sbh3,
.GlossaryTermglt,
.BOBAdQuoteHeadbobqh {
  text-indent: 0;
  font-weight: bold;
  margin: 1em 0 0 0;
  }

/*
--------------------------
H4
--------------------------
*/

h4,
[class*="Level-4Subhead"],
.PartContentsHeadpch,
.Head-Level-4h4,
.BoxHead-Level-4bh4,
.SidebarHead-Level-4sbh4 {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  margin: 1em 0 0 0;
  }

/*
--------------------------
H5
--------------------------
*/

h5,
[class*="Level-5Subhead"],
.Head-Level-5h5,
.ExtractHeadexth,
.PoemTitlevt,
.RecipeHeadrh,
.Sub-RecipeHeadsrh,
.BoxHeadbh,
.BoxHead-Level-5bh5,
.SidebarHeadsbh,
.SidebarHead-Level-5sbh5,
.ChartHeadcrh,
.FigureHeadfgh,
.TableHeadth {
  text-indent: 0;
  font-style: italic;
  margin: 1em 0 0 0;
  }
.ExtractHeadexth,
.PoemTitlevt,
.RecipeHeadrh,
.Sub-RecipeHeadsrh,
.BoxHeadbh,
.SidebarHeadsbh,
.ChartHeadcrh,
.TableHeadth,
.FigureHeadfgh {
  font-size: 1em;
  background: #ccc;
  }

/*
--------------------------
H6
--------------------------
*/

h6,
.Head-Level-6h6,
.PoemSubtitlevst,
.PoemNumericSubheadsvhn,
.RecipeSubheadrsh,
.Sub-RecipeSubheadsrsh,
.BoxSubheadbsh,
.SidebarSubheadsbsh,
.TableSubheadtsh,
.ChartSubheadcrsh,
.FigureSubheadfgsh {
  text-indent: 0;
  font-variant: small-caps; /* ALTERNATE: font-size: .75em; text-transform: uppercase; */
  letter-spacing: .1em;
  margin: 1em 0 0 0;
  }
.PoemSubtitlevst,
.RecipeSubheadrsh,
.Sub-RecipeSubheadsrsh,
.BoxSubheadbsh,
.SidebarSubheadsbsh,
.TableSubheadtsh,
.ChartSubheadcrsh,
.FigureSubheadfgsh {
  border-bottom: 2px solid #ccc;
  margin-bottom: 1em;
  }

/*
--------------------------------------------------
FRONT SALES
--------------------------------------------------
*/

.FrontSalesTextfstx,
.FrontSalesTextNoIndentfstx1 {
  }
.FrontSalesQuotefsq,
.FrontSalesQuoteNoIndentfsq1 {
  font-style: italic;
  }

/*
--------------------------------------------------
AD CARD
--------------------------------------------------
*/

.AdCardListofTitlesacl {
  text-indent: 0;
  text-align: center;
  }

/*
--------------------------------------------------
TITLE PAGE
--------------------------------------------------
*/

.TitlepageAuthorNameau,
.TitlepageContributorNamecon,
.TitlepageTranslatorNametran,
.TitlepageSeriesTitleser,
.TitlepageReadingLinerl,
.TitlepageImprintLineimp,
.TitlepagePublisherNamepub,
.TitlepageCitiescit {
  text-indent: 0;
  text-align: center;
  margin: 1em 0;
  }

/*
--------------------------------------------------
COPYRIGHT PAGE
--------------------------------------------------
*/

.CopyrightTextsinglespacecrtx,
.CopyrightTextdoublespacecrtxd {
  font-size: .75em;
  text-indent: 0;
  }
.CopyrightTextdoublespacecrtxd {
  margin: 1em 0;
  }

/*
--------------------------------------------------
DEDICATION PAGE
--------------------------------------------------
*/

.Dedicationded,
.DedicationAuthordedau {
  text-indent: 0;
  text-align: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  }
.Dedicationded {
  font-style: italic;
  }
.DedicationAuthordedau {
  margin-top: 1em;
  }
section[data-type="dedication"] blockquote[data-type="epigraph"],
.Dedicationded + p[class*="Epigraph"] {
  page-break-before: always;
  margin-top: 2em;
  }

/*
--------------------------------------------------
EPIGRAPH PAGE (AND OTHER EPIGRAPHS)
--------------------------------------------------
*/

blockquote[data-type="epigraph"] {
  margin: 2em 1.5em;
  }
.Epigraphnon-verseepi,
.Epigraphverseepiv,
.FMEpigraphnon-versefmepi,
.FMEpigraphversefmepiv,
.PartEpigraphnon-versepepi,
.PartEpigraphversepepiv,
.ChapEpigraphnon-versecepi,
.ChapEpigraphversecepiv,
.EpigraphinTextnon-versetepi,
.EpigraphinTextversetepiv,
.PoemEpigraphnon-versevepi,
.PoemEpigraphversevepiv,
.BoxEpigraphnon-versebepi,
.BoxEpigraphversebepiv,
.SidebarEpigraphnon-versesbepi,
.SidebarEpigraphversesbepiv {
  font-style: italic;
  }
.EpigraphSourceeps,
.FMEpigraphSourcefmeps,
.PartEpigraphSourcepeps,
.ChapEpigraphSourceceps,
.EpigraphinTextSourceteps,
.PoemEpigraphSourceveps,
.BoxEpigraphSourcebeps,
.SidebarEpigraphSourcesbeps,
.FrontSalesQuoteSourcefsqs,
.BOBAdQuoteSourcebobqs {
  text-indent: 0;
  font-style: normal;
  font-variant: small-caps; /* ALTERNATE: font-size: .75em; text-transform: uppercase; */
  letter-spacing: .1em;
  margin-bottom: 1em;
  }

/*
--------------------------------------------------
CONTENTS PAGE
--------------------------------------------------
*/

.TOCAuthorcau,
.TOCPartNumbercpn,
.TOCPartTitlecpt,
.TOCChapterNumberccn,
.TOCChapterTitlecct,
.TOCChapterSubtitleccst,
.TOCLevel-1ChapterHeadch1,
.TOCBackmatterHeadcbmh,
.TOCPageNumbercnum {
  list-style: none;
  text-indent: 0;
  text-align: center;
  }
.TOCAuthorcau {
  font-style: italic;
  margin: 1em 0;
  }
.TOCPartNumbercpn,
.TOCChapterNumberccn {
  margin-left: 15%;
  margin-right: 15%;
  }
.TOCFrontmatterHeadcfmh,
.TOCPartTitlecpt,
.TOCChapterTitlecct,
.TOCLevel-1ChapterHeadch1,
.TOCBackmatterHeadcbmh,
.TOCPartNumbercpn,
.TOCChapterNumberccn,
.TOCChapterSubtitleccst,
.TOCAuthorcau,
.TOCPageNumbercnum {
  display: none;
  }

/*
--------------------------------------------------
OTHER FRONTMATTER
--------------------------------------------------
*/

.FMTitlefmt,
.FMAuthorNamefmau,
.FMAuthorSignatureausig,
.FMDramatisPersonaefmdp {
  text-indent: 0;
  margin: 1em 0;
  }
.FMHeadfmh,
.FMTitlefmt,
.FMSubheadfmsh,
.FMAuthorNamefmau,
.FMHeadALTafmh {
  text-align: center;
  }
.FMHeadALTafmh,
.FMTextALTafmtx,
.FMTextNo-IndentALTafmtx1 {
  font-family: Helvetica,Arial,sans-serif;
  }
.FMAuthorSignatureausig {
  font-style: italic;
  }
.FMDramatisPersonaefmdp {
  text-transform: uppercase;
  letter-spacing: .075em;
  }

/*
--------------------------------------------------
PART OPENERS
--------------------------------------------------
*/

.PartOrnamentporn,
.PartOrnamentALTporn2,
.PartContentsMainHeadpcmh,
.PartContentsHeadpch {
  text-indent: 0;
  text-align: center;
  margin: 1em 0;
  }
.PartOrnamentporn:before,
.PartOrnamentALTporn2:before {
  display: block;
  font-size: 1.125em;
  }
.PartOrnamentporn:before {
  content: "\2766"; /* U+2766 "floral heart" */
  }
.PartOrnamentALTporn2:before {
  content: "\2756"; /* U+2756 "black diamond minus white" */
  }

/*
--------------------------------------------------
CHAPTER OPENERS
--------------------------------------------------
*/

.ChapAuthorca,
.Dateline-Chapterdl,
.ChapOrnamentcorn,
.ChapOrnamentALTcorn2 {
  text-align: center;
  text-indent: 0;
  margin: 1em 0;
  }
.ChapOrnamentcorn,:before,
.ChapOrnamentALTcorn2:before {
  display: block;
  font-size: 1.125em;
  }
.ChapOrnamentcorn:before {
  content: "\2766"; /* U+2766 "floral heart" */
  }
.ChapOrnamentALTcorn2:before {
  content: "\2756"; /* U+2756 "black diamond minus white" */
  }


/*
--------------------------------------------------
TEXT
--------------------------------------------------
*/

.Text-ComputerTypecom,
.Text-ComputerTypeNo-Indentcom1 {
  font-family: "Courier New",monospace,Georgia,"Times New Roman",sans-serif;
  }
.Text-StandardALTatx,
.Text-StdNo-IndentALTatx1 {
  font-family: Helvetica,Arial,sans-serif;
  }

/*
--------------------------------------------------
DISPLAY TEXT
--------------------------------------------------
*/

.InitialCapic {
  }
.DisplayPhrasedis {
  clear: both;
  color: #999;
  font-size: 1.125em;
  font-style: italic;
  text-indent: 0;
  text-align: center;
  padding: .5em;
  background: #eee;
  margin: 1em 0;
  }
.Storydatelinesdl,
.Storylocationlinesloc {
  text-indent: 0;
  font-variant: small-caps; /* ALTERNATE: font-size: .75em; text-transform: uppercase; */
  letter-spacing: .1em;
  margin: 1em 0;
  }

/*
--------------------------------------------------
SPACE BREAKS
--------------------------------------------------
*/

.SpaceBreak,
.SectionBreaksbr,
.SpaceBreakwithOrnamentorn,
.SpaceBreakwithALTOrnamentorn2,
.PartStartpts,
.PartEndpte,
.PageBreakpb,
.SpaceBreak-1-Linels1,
.SpaceBreak-2-Linels2,
.SpaceBreak-3-Linels3 {
  text-indent: 0;
  text-align: center;
  }
.SpaceBreak,
.SectionBreaksbr,
.SpaceBreakwithOrnamentorn,
.SpaceBreakwithALTOrnamentorn2,
.SpaceBreak-1-Linels1 {
  margin: 1em 0;
  }
.SpaceBreak-2-Linels2 {
  margin: 1em 0 2em 0;
  }
.SpaceBreak-3-Linels3 {
  margin: 1em 0 3em 0;
  }
.Dateline-Texttdl {
  text-indent: 0;
  font-variant: small-caps; /* ALTERNATE: font-size: .75em; text-transform: uppercase; */
  letter-spacing: .1em;
  margin: 1em 0;
  }

.SpaceBreak,
.SectionBreaksbr,
.SpaceBreak-1-Linels1,
.SpaceBreak-2-Linels2,
.SpaceBreak-3-Linels3 {
  content: " ";
  }
.SpaceBreakwithOrnamentorn,
.SpaceBreakwithALTOrnamentorn2, {
  display: block;
  font-size: 1.125em;
  }
.SpaceBreakwithOrnamentorn, {
  content: "\2766"; /* U+2766 "floral heart" */
  }
.SpaceBreakwithALTOrnamentorn2 {
  content: "\2756"; /* U+2756 "black diamond minus white" */
  }

/*
--------------------------------------------------
EXTRACTS
--------------------------------------------------
*/

.Extractext,
[class*="Extract"] {
  font-style: italic;
  text-indent: 0;
  }
.Extract-Headlineexthl,
.Extract-EmailHeadingemh {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  }
.Extract-Telegramtel {
  font-family: "Courier New",monospace,Georgia,"Times New Roman",sans-serif;
  text-transform: uppercase;
  }

/*
--------------------------------------------------
LETTERS
--------------------------------------------------
*/

.LetterExtHeadnotehn {
  text-transform: uppercase;
  letter-spacing: .075em;
  }
.LetterExtHeadnotehn+p,
.LetterExtAddressladd,
.LetterExtSalutationlsa,
.LetterExtClosinglcl,
.LetterExtSignaturelsig,
.LetterExtPostscriptlps {
  text-indent: 0;
  }
.LetterExtDatelineldl {
  margin: 1em 0;
  }
p+.LetterExtSalutationlsa,
.LetterExtClosinglcl,
.LetterExtSignaturelsig,
.LetterExtPostscriptlps {
  margin-top: 1em;
  }
.LetterExtClosinglcl+.LetterExtSignaturelsig {
  margin-top: 0;
  }

/*
--------------------------------------------------
SCREENPLAY
--------------------------------------------------
*/
[class*="Screenplay"] {
  font-family: "Courier New",monospace,Georgia,"Times New Roman",sans-serif;
  font-style: normal;
  text-indent: 0;
  }
.ScreenplayDramatisPersonaedp,
.ScreenplayHeadsph,
.ScreenplaySubheadspsh,
.ScreenplaySpeakers {
  text-transform: uppercase;
  }
.ScreenplayHeadsph,
.ScreenplaySubheadspsh {
  margin-top: 1em;
  margin-bottom: 1em;
  }
.ScreenplaySpeakers {
  text-align: center;
  margin-top: 1em;
  }
.ScreenplaySpeakers,
.ScreenplayTextsptx,
.ScreenplayTextNo-Indentsptx1 {
  margin-left: 3em;
  margin-right: 3em;
  }
.ScreenplayStageDirectionssd {
  font-style: italic;
  margin: 1em 0;
  }
.ScreenplayTextsptx {
  text-indent: 1.5em;
  }

/*
--------------------------------------------------
POETRY
--------------------------------------------------
*/

.PoemTitlevt+.PoemSubtitlevst {
  margin-top: 0;
  }
.PoemDedicationvded {
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  letter-spacing: 0;
  }
.VerseTextvtx,
.Epigraphverseepiv,
.FMEpigraphversefmepiv,
.PartEpigraphversepepiv,
.ChapEpigraphversecepiv,
.Extract-VerseorPoetryextv,
.Extract-SongLyricextsl,
.EpigraphinTextversetepiv,
.PoemEpigraphversevepiv,
.BoxEpigraphversebepiv,
.BoxExtract-Versebextv,
.SidebarEpigraphversesbepiv,
.SidebarExtract-Versesbextv,
.Example-Versevexa {
  margin-left: 1.5em;
  text-indent: -1.5em;
  }
.VerseRun-inTextvrtx {
  text-indent: 0;
  margin-left: 1.5em;
  }
.PoemDatelinevdl,
.PoemDedicationvded {
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
LISTS
--------------------------------------------------
All list styles are included here. Since some
classes convert as p elements rather than li, they
need to be explicitly told to behave like list
items. Here is an example of the markup and the
basic CSS that would apply to it:

<p class="BulletListItem">foo</p>

.BulletListItem {
  display: list-item;
  list-style: disc outside;
  }

Other styles are already converting semantically,
but they still include a p element, like so:

<ul>
  <li class="BulletListItem">
    <p class="BulletListItem">foo</p>
  </li>
</ul>

So, in this case, all the rules of
".BulletListItem" will be applied to both the li
and the p, which means there will be multiple
bullets for each list item. This is why styles
that are converting this way are commented out –
so that the list style will be applied to the li
but not the p. As the conversion tool is updated
to accommodate more of the list styles below,
their class names will each need to be commented
out (or deleted) to avoid the problem of redundant
list markers.

Note also that ordered lists include the numbers
in the text, which is why they have a
list-style-type of "none".

*/

.ListHeadlh {
  font-weight: bold;
  text-indent: 0;
  margin: 1em 0;
  }
ul,
ol {
  margin: 1em 0;
  }
li,
/*
.ListNumnl,
.ListNumSubentrynsl,
*/
.ListAlphaal,
/*
.ListAlphaSubentryasl,
.ListBulletbl,
.ListBulletSubentrybsl,
.ListUnnumul,
.ListUnnumSubentryusl,
*/
.NumberedParagraphsnp,
.BulletedParagraphsbp,
/*
.Extract-NumListextnl,
.Extract-BulletListextbl,
*/
.IngredientsListri,
.Sub-RecipeIngredientsListsri
/*
.BoxListNumbnl,
.BoxListBulletbbl,
.BoxListUnnumbul,
.SidebarListNumsbnl,
.SidebarListBulletsbbl,
.SidebarListUnnumsbul
.AppendixListNumapnl,
.AppendixListUnnumapul,
.AppendixListBulletapbl
*/ {
  display: list-item;
  list-style-position: outside;
  margin-left: 1.5em;
  text-indent: 0;
  }
li ul,
li ol {
  margin: 0;
  }
ul li,
/*
.ListBulletbl,
.ListUnnumul,
*/
.BulletedParagraphsbp,
/*
.Extract-BulletListextbl,
*/
.IngredientsListri,
.Sub-RecipeIngredientsListsri
/*
.BoxListBulletbbl,
.BoxListUnnumbul,
.SidebarListBulletsbbl,
.SidebarListUnnumsbul
.AppendixListUnnumapul,
.AppendixListBulletapbl
*/ {
  list-style-type: disc;
  }
li ul li,
.ListBulletSubentrybsl,
.ListUnnumSubentryusl {
  list-style-type: square;
  }
ol li,
/*
.ListNumnl,
.ListNumSubentrynsl,
*/
.ListAlphaal,
/*
.ListAlphaSubentryasl,
*/
.NumberedParagraphsnp
/*
.Extract-NumListextnl,
.BoxListNumbnl,
.SidebarListNumsbnl,
.AppendixListNumapnl
*/ {
/*list-style-type: decimal;*/
  list-style-type: none;
  }
li ol li
/*
.ListNumSubentrynsl,
.ListAlphaSubentryasl,
*/ {
  border-bottom: none;
  }
/*
.ListNumSubentrynsl {
  list-style-type: lower-roman;
  }
.ListAlphaal {
  list-style-type: upper-alpha;
  }
li.ListAlphaSubentryasl {
  list-style-type: lower-alpha;
  }
*/
li.Checklistck,
li.ChecklistSubentrycksl {
  list-style-type: none;
  text-indent: 0;
  margin-left: 1.5em;
  }
li.Checklistck:before,
li.ChecklistSubentrycksl:before {
  display: block;
  width: 1.5em;
  float: left;
  margin-left: -1.5em;
  text-align: center;
  content: "\2713"; /* U+2713 "check mark" */
  }
.ColumnHeadch {
  font-weight: bold;
  text-indent: 0;
  }

/*
.RecipeProceduresrp,
.RecipeProceduresNoIndentrp1,
.Sub-RecipeProceduressrp,
.Sub-RecipeProceduresNoIndentrp1,
.Definition-Numberedndef
*/

/*
--------------------------------------------------
ILLUSTRATIONS
--------------------------------------------------
*/

.Illustrationholderill {
  background: #eee;
  margin-top: 1em;
  }
.Captioncap {
  color: #666;
  text-indent: 0;
  text-align: center;
  font-size: .875em;
  font-style: italic;
  padding: 1em 0;
  }
.IllustrationSourceis {
  text-align: right;
  font-variant: small-caps; /* ALTERNATE: font-size: .75em; text-transform: uppercase; */
  letter-spacing: .1em;
  margin: 0;
  }
.Illustrationholderill+p,
.IllustrationSourceis+p {
  margin-top: 1em;
  }
.Illustrationholderill+.IllustrationSourceis {
  margin-top: 0;
  }

/*
--------------------------------------------------
RECIPES
--------------------------------------------------
*/

.Menumenu,
.ChapterContentscc {
  }
.RecipeHeadnoterhn,
.Sub-RecipeHeadnotesrhn {
  font-style: italic;
  text-indent: 0;
  }
.RecipeTimert,
.RecipeYieldry,
.Sub-RecipeYieldsry,
.RecipeNutritionInforni,
.RecipeGarnishrg {
  margin-top: 1em;
  margin-bottom: 1em;
  text-indent: 0;
  }
.RecipeVarHeadrvh,
.RecipeVarTextrvtx,
.RecipeVarTextNo-Indentrvtx1,
.RecipeNoteHeadrnh,
.RecipeNoteTextrntx,
.RecipeNoteTextNo-Indentrntx1 {
  font-style: italic;
  }
.Sub-RecipeHeadsrh,
.Sub-RecipeSubheadsrsh,
.Sub-RecipeLevel-2Subheadsrsh2,
.Sub-RecipeLevel-3Subheadsrsh3,
.Sub-RecipeLevel-4Subheadsrsh4,
.Sub-RecipeLevel-5Subheadsrsh5,
.Sub-RecipeHeadnotesrhn,
.Sub-RecipeIngredientsHeadsrih,
.Sub-RecipeIngredientsListsri,
.Sub-RecipeProceduressrp,
.Sub-RecipeProceduresNoIndentrp1,
.Sub-RecipeYieldsry {
  margin-left: 1.5em;
  margin-right: 1.5em;
  }
.Sub-RecipeLevel-1Subheadsrsh1 {
  margin-left: 1em;
  margin-right: 1em;
  }
.Sub-RecipeIngredientsListsri,
.Sub-RecipeProceduressrp,
.Sub-RecipeProceduresNoIndentrp1 {
  margin-left: 3em;
  }

/*
--------------------------------------------------
BOXES AND SIDEBARS
--------------------------------------------------
*/

.TOCPartNumbercpn,
.TOCChapterNumberccn,
.RecipeHeadrh,
.Sub-RecipeHeadsrh,
.RecipeSubheadrsh,
.Sub-RecipeSubheadsrsh,
.BoxHeadbh,
.BoxSubheadbsh,
.SidebarHeadsbh,
.ExtractHeadexth,
.PoemTitlevt,
.SidebarSubheadsbsh,
.PoemSubtitlevst,
.TableHeadth,
.TableSubheadtsh,
.ChartHeadcrh,
.ChartSubheadcrsh,
.FigureHeadfgh,
.FigureSubheadfgsh {
  text-align: center;
  padding: .5em 0;
  }
.BoxHeadbh+p,
.SidebarHeadsbh+p,
.ExtractHeadexth+p,
.PoemTitlevt+p {
  margin-top: 1em;
  }
.BoxSourceNotebsn,
.BoxFootnotebfn,
.SidebarSourceNotesbsn,
.SidebarFootnotesbfn {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }
.BoxExtractbext,
.BoxExtract-Versebextv,
.SidebarExtractsbext,
.SidebarExtract-Versesbextv {
  }

/*
--------------------------------------------------
TABLES, CHARTS, and FIGURES
--------------------------------------------------
*/

table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  }
th,
td {
  padding: .5em;
  border: 1px solid #ccc;
  }
.TableColumnHeadtch,
.TableSourceNotetsn,
.TableFootnotetfn,
.ChartColumnHeadcrch,
.ChartLabelcrl,
.ChartSourceNotecrxn,
.ChartFootnotecrfn,
.FigureColumnHeadfgch,
.FigureLabelfgl,
.FigureSourceNotefgsn,
.FigureFootnotefgfn {
  text-indent: 0;
  }
.TableColumnHeadtch,
.ChartColumnHeadcrch,
.FigureColumnHeadfgch {
  font-weight: bold;
  }
.TableSourceNotetsn,
.TableFootnotetfn,
.ChartSourceNotecrxn,
.ChartFootnotecrfn,
.FigureSourceNotefgsn,
.FigureFootnotefgfn {
  font-size: .75em;
  margin: 1em 0;
  }

/*
--------------------------------------------------
GENERAL BACKMATTER HEADS
--------------------------------------------------
*/

.BMHeadbmh,
.BMTitlebmt,
.BMSubheadbmsh,
.BMHeadALTabmh {
  text-align: center;
  }
.BMHeadALTabmh,
.BMTextALTabmtx,
.BMTextALTNo-Indentabmtx1 {
  font-family: Helvetica,Arial,sans-serif;
  }

/*
--------------------------------------------------
APPENDICES
--------------------------------------------------
*/

.AppendixHeadaph,
.AppendixSubheadapsh {
  text-align: center;
  }
.AppendixSourceNoteapsn,
.AppendixFootnoteapfn {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
GLOSSARY and DICTIONARY-STYLE ENTRIES
--------------------------------------------------
*/

.Exampleexa,
.Example-Versevexa,
.Exampleegeg,
.Exampleindialogformexad {
  font-style: italic;
  }
.GlossaryTextgltx,
.Entryen,
.Definitiondef,
.DefinitionSourcedefs,
.Exampleexa,
.Referencesee,
.Exampleegeg,
.Exampleindialogformexad {
  text-indent: 0;
  }
.DefinitionSourcedefs {
  margin: 1em 0;
  }

/*
--------------------------------------------------
ADDRESSES
--------------------------------------------------
*/

.Addressadd {
  text-indent: 0;
  }

/*
--------------------------------------------------
NOTES SECTION
--------------------------------------------------
*/

.FootnoteTextfn {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
BIBLIOGRAPHY
--------------------------------------------------
*/

.BibliographyTextbibtx {
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
INDEX
--------------------------------------------------
*/

.IndexEntryine,
.IndexSubentryinse,
.IndexSub-subentryinsse {
  text-indent: 0;
  }
.IndexSubentryinse {
  margin-left: 1.5em;
  }
.IndexSub-subentryinsse {
  margin-left: 3em;
  }

/*
--------------------------------------------------
Nonprinting elements
--------------------------------------------------
*/

[class*="Nonprinting"] {
  display: none;
}
