/*
--------------------------------------------------
RESET
--------------------------------------------------
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body {
  line-height: 1em;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }

/*
--------------------------------------------------
BASE STYLES
--------------------------------------------------
*/

body {
  font: normal normal normal 100%/1.5em Georgia,"Times New Roman",Times,serif;
  text-align: left;
  color: #000;
  background-color: #fff;
  padding: 1.5em;
  }
p+p {
  text-indent: 1.5em;
  }
blockquote {
  margin: 1em 1.5em;
  font-style: italic;
  }
aside,
.box {
  padding: 1.5em;
  border: 2px solid #ccc;
  margin: 1em 0;
  }
.box {
  background: #eee;
  }
img {
  width: 100%;
  }
pre {
  margin: 1em 0;
  white-space: pre-wrap;
  }

/*
--------------------------
NO INDENT
--------------------------
*/

h1+p, .Head-Level-1h1+p,
h2+p, .Head-Level-2h2+p,
h3+p, .Head-Level-3h3+p,
h4+p, .Head-Level-4h4+p,
h5+p, .Head-Level-5h5+p,
h6+p, .Head-Level-6h6+p,
.FrontSalesTextNoIndentfstx1,
.FrontSalesQuoteNoIndentfsq1,
.FMTextNo-Indentfmtx1,
.FMTextNo-IndentSpaceBeforefmtx1,
.FMTextNo-IndentSpaceAroundfmtx1,
.FMTextNo-IndentSpaceAfterfmtx1,
.FMTextNo-IndentALTafmtx1,
.PartOpeningTextNo-Indentpotx1,
.ChapOpeningTextNo-Indentcotx1,
.ChapOpeningTextNo-IndentSpaceAftercotx1,
.Text-StdNo-Indenttx1,
.Text-StdNo-IndentSpaceBeforetx1,
.Text-StdNo-IndentSpaceAroundtx1,
.Text-StdNo-IndentSpaceAftertx1,
.Text-StdNo-IndentALTatx1,
.Text-ComputerTypeNo-Indentcom1,
.Text-NarrativeNo-Indentnar1,
.Extract-NoIndentext1,
.LetterExtBodyTextNo-Indentltx1,
.ScreenplayTextNo-Indentsptx1,
.VerseRun-inTextNo-Indentvrtx1,
.ColumnTextNo-Indentcoltx1,
.Sub-RecipeProceduresNoIndentsrp1,
.RecipeVarTextNo-Indentrvtx1,
.RecipeNoteTextNo-Indentrntx1,
.BoxTextNo-Indentbtx1,
.SidebarTextNo-Indentsbtx1,
.TableBodyTextNo-Indenttbtx1,
.ChartBodyTextNo-Indentcrbtx1,
.FigureBodyTextNo-Indentfgbtx1,
.BMTextNo-Indentbmtx1,
.BMTextNo-IndentSpaceBeforebmtx1,
.BMTextNo-IndentSpaceAroundbmtx1,
.BMTextNo-IndentSpaceAfterbmtx1,
.BMTextALTNo-Indentabmtx1,
.TeaserOpeningTextNo-Indenttotx1,
.AppendixTextNo-Indentaptx1,
.IllustrationCreditsTextNo-Indentilctx1,
.PermissionAcksTextNo-Indentpmtx1,
.AboutAuthorTextNo-Indentatatx1,
.ColophonTextNo-Indentcoltx1,
.BOBAdTextNo-Indentbobtx1,
.BOBAdQuoteNo-Indentbobq1 {
  text-indent: 0;
  }

/*
--------------------------
SPACE BEFORE
--------------------------
*/

p[class*="SpaceBefore"],
.FMTextSpaceBeforefmtx,
.FMTextNo-IndentSpaceBeforefmtx1,
.Text-StandardSpaceBeforetx,
.Text-StdNo-IndentSpaceBeforetx1,
.BMTextSpaceBeforebmtx,
.BMTextNo-IndentSpaceBeforebmtx1 {
  margin-top: 1em;
  }

/*
--------------------------
SPACE AROUND
--------------------------
*/

p[class*="SpaceAround"],
.FMTextSpaceAroundfmtx,
.FMTextNo-IndentSpaceAroundfmtx1,
.Text-StandardSpaceAroundtx,
.Text-StdNo-IndentSpaceAroundtx1,
.BMTextSpaceAroundbmtx,
.BMTextNo-IndentSpaceAroundbmtx1 {
  margin-top: 1em;
  margin-bottom: 1em;
  }

/*
--------------------------
SPACE AFTER
--------------------------
*/

p[class*="SpaceAfter"],
.FMTextSpaceAfterfmtx,
.FMTextNo-IndentSpaceAfterfmtx1,
.ChapOpeningTextSpaceAftercotx,
.ChapOpeningTextNo-IndentSpaceAftercotx1,
.Text-StandardSpaceAftertx,
.Text-StdNo-IndentSpaceAftertx1,
.BMTextSpaceAfterbmtx,
.BMTextNo-IndentSpaceAfterbmtx1 {
  margin-bottom: 1em;
  }

/*
--------------------------------------------------
INLINE ELEMENTS
--------------------------------------------------
*/

em,
.spanitaliccharactersital,
.spansmcapitalscital {
  font-style: italic;
  }
strong,
.spanboldfacecharactersbf,
.spanbolditalbem,
.spansmcapboldscbold {
  font-weight: bold;
  }
.spansmallcapscharacterssc,
.spansmcapboldscbold {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .08em;
  }
.spanunderscorecharactersus {
  text-decoration: underline;
  }
sup,
.spansuperscriptcharacterssup {
  vertical-align: super;
  font-size: smaller;
  }
sub,
.spansubscriptcharacterssub {
  vertical-align: sub;
  font-size: smaller;
  }
.spankeyphrasekp {
  }
.spansymbolssym {
  }
.spanaccentcharactersacc {
  }
.spanpreservecharacterspre {
  white-space: pre-wrap;
  }
a,
.spanhyperlinkurl {
  color: #c00;
  text-decoration: underline;
  }
.spancross-referencexref {
  }
.spanmaterialtocometk {
  }
.spancarryquerycq {
  }
.DesignNotedn {
  }

/*
--------------------------------------------------
HEADINGS
--------------------------------------------------
COMBINATIONS
--------------------------
*/
/*
h1:first-child, h2:first-child, h3:first-child,
h4:first-child, h5:first-child, h6:first-child,
.Head-Level-1h1:first-child,
.Head-Level-2h2:first-child,
.Head-Level-3h3:first-child,
.Head-Level-4h4:first-child,
.Head-Level-5h5:first-child,
.Head-Level-6h6:first-child,
*/
h1+h2, h1+h3, h1+h4, h1+h5, h1+h6,
h2+h3, h2+h4, h2+h5, h2+h6,
h3+h4, h3+h5, h3+h6,
h4+h5, h4+h6,
h5+h6,
.Head-Level-1h1+.Head-Level-2h2,
.Head-Level-1h1+.Head-Level-3h3,
.Head-Level-1h1+.Head-Level-4h4,
.Head-Level-1h1+.Head-Level-5h5,
.Head-Level-1h1+.Head-Level-6h6,
.Head-Level-2h2+.Head-Level-3h3,
.Head-Level-2h2+.Head-Level-4h4,
.Head-Level-2h2+.Head-Level-5h5,
.Head-Level-2h2+.Head-Level-6h6,
.Head-Level-3h3+.Head-Level-4h4,
.Head-Level-3h3+.Head-Level-5h5,
.Head-Level-3h3+.Head-Level-6h6,
.Head-Level-4h4+.Head-Level-5h5,
.Head-Level-5h5+.Head-Level-6h6,
.FMLevel-1Subheadfmh1+.FMLevel-2Subheadfmh2,
.FMLevel-1Subheadfmh1+.FMLevel-3Subheadfmh3,
.FMLevel-1Subheadfmh1+.FMLevel-4Subheadfmh4,
.FMLevel-1Subheadfmh1+.FMLevel-5Subheadfmh5,
.FMLevel-2Subheadfmh2+.FMLevel-3Subheadfmh3,
.FMLevel-2Subheadfmh2+.FMLevel-4Subheadfmh4,
.FMLevel-2Subheadfmh2+.FMLevel-5Subheadfmh5,
.FMLevel-3Subheadfmh3+.FMLevel-4Subheadfmh4,
.FMLevel-3Subheadfmh3+.FMLevel-5Subheadfmh5,
.FMLevel-4Subheadfmh4+.FMLevel-5Subheadfmh5,
.PoemLevel-1Subheadvh1+.PoemLevel-2Subheadvh2,
.PoemLevel-1Subheadvh1+.PoemLevel-3Subheadvh3,
.PoemLevel-1Subheadvh1+.PoemLevel-4Subheadvh4,
.PoemLevel-1Subheadvh1+.PoemLevel-5Subheadvh5,
.PoemLevel-2Subheadvh2+.PoemLevel-3Subheadvh3,
.PoemLevel-2Subheadvh2+.PoemLevel-4Subheadvh4,
.PoemLevel-2Subheadvh2+.PoemLevel-5Subheadvh5,
.PoemLevel-3Subheadvh3+.PoemLevel-4Subheadvh4,
.PoemLevel-3Subheadvh3+.PoemLevel-5Subheadvh5,
.PoemLevel-4Subheadvh4+.PoemLevel-5Subheadvh5,
.RecipeHeadrh+.RecipeSubheadrsh,
.RecipeLevel-1Subheadrh1+.RecipeLevel-2Subheadrh2,
.RecipeLevel-1Subheadrh1+.RecipeLevel-3Subheadrh3,
.RecipeLevel-1Subheadrh1+.RecipeLevel-4Subheadrh4,
.RecipeLevel-1Subheadrh1+.RecipeLevel-5Subheadrh5,
.RecipeLevel-2Subheadrh2+.RecipeLevel-3Subheadrh3,
.RecipeLevel-2Subheadrh2+.RecipeLevel-4Subheadrh4,
.RecipeLevel-2Subheadrh2+.RecipeLevel-5Subheadrh5,
.RecipeLevel-3Subheadrh3+.RecipeLevel-4Subheadrh4,
.RecipeLevel-3Subheadrh3+.RecipeLevel-5Subheadrh5,
.RecipeLevel-4Subheadrh4+.RecipeLevel-5Subheadrh5,
.Sub-RecipeHeadsrh+.Sub-RecipeSubheadsrsh,
.Sub-RecipeLevel-1Subheadsrsh1+.Sub-RecipeLevel-2Subheadsrsh2,
.Sub-RecipeLevel-1Subheadsrsh1+.Sub-RecipeLevel-3Subheadsrsh3,
.Sub-RecipeLevel-1Subheadsrsh1+.Sub-RecipeLevel-4Subheadsrsh4,
.Sub-RecipeLevel-1Subheadsrsh1+.Sub-RecipeLevel-5Subheadsrsh5,
.Sub-RecipeLevel-2Subheadsrsh2+.Sub-RecipeLevel-3Subheadsrsh3,
.Sub-RecipeLevel-2Subheadsrsh2+.Sub-RecipeLevel-4Subheadsrsh4,
.Sub-RecipeLevel-2Subheadsrsh2+.Sub-RecipeLevel-5Subheadsrsh5,
.Sub-RecipeLevel-3Subheadsrsh3+.Sub-RecipeLevel-4Subheadsrsh4,
.Sub-RecipeLevel-3Subheadsrsh3+.Sub-RecipeLevel-5Subheadsrsh5,
.Sub-RecipeLevel-4Subheadsrsh4+.Sub-RecipeLevel-5Subheadsrsh5,
.BoxHeadbh:first-child,
.BoxHead-Level-1bh1:first-child,
.BoxHead-Level-2bh2:first-child,
.BoxHead-Level-3bh3:first-child,
.BoxHead-Level-4bh4:first-child,
.BoxHead-Level-5bh5:first-child,
.SidebarHeadsbh:first-child,
.SidebarHead-Level-1sbh1:first-child,
.SidebarHead-Level-2sbh2:first-child,
.SidebarHead-Level-3sbh3:first-child,
.SidebarHead-Level-4sbh4:first-child,
.SidebarHead-Level-5sbh5:first-child,
.BoxHeadbh+.BoxSubheadbsh,
.BoxHeadbh+.BoxHead-Level-1bh1,
.BoxHeadbh+.BoxHead-Level-2bh2,
.BoxHeadbh+.BoxHead-Level-3bh3,
.BoxHeadbh+.BoxHead-Level-4bh4,
.BoxHeadbh+.BoxHead-Level-5bh5,
.BoxHeadbh+.BoxHead-Level-6bh6,
.BoxHead-Level-1bh1+.BoxHead-Level-2bh2,
.BoxHead-Level-1bh1+.BoxHead-Level-3bh3,
.BoxHead-Level-1bh1+.BoxHead-Level-4bh4,
.BoxHead-Level-1bh1+.BoxHead-Level-5bh5,
.BoxHead-Level-1bh1+.BoxHead-Level-6bh6,
.BoxHead-Level-2bh2+.BoxHead-Level-3bh3,
.BoxHead-Level-2bh2+.BoxHead-Level-4bh4,
.BoxHead-Level-2bh2+.BoxHead-Level-5bh5,
.BoxHead-Level-2bh2+.BoxHead-Level-6bh6,
.BoxHead-Level-3bh3+.BoxHead-Level-4bh4,
.BoxHead-Level-3bh3+.BoxHead-Level-5bh5,
.BoxHead-Level-3bh3+.BoxHead-Level-6bh6,
.BoxHead-Level-4bh4+.BoxHead-Level-5bh5,
.BoxHead-Level-4bh4+.BoxHead-Level-6bh6,
.BoxHead-Level-5bh5+.BoxHead-Level-6bh6,
.SidebarHeadsbh+.SidebarSubheadsbsh,
.SidebarHeadsbh+.SidebarHead-Level-1sbh1,
.SidebarHeadsbh+.SidebarHead-Level-2sbh2,
.SidebarHeadsbh+.SidebarHead-Level-3sbh3,
.SidebarHeadsbh+.SidebarHead-Level-4sbh4,
.SidebarHeadsbh+.SidebarHead-Level-5sbh5,
.SidebarHeadsbh+.SidebarHead-Level-6sbh6,
.SidebarHead-Level-1sbh1+.SidebarHead-Level-2sbh2,
.SidebarHead-Level-1sbh1+.SidebarHead-Level-3sbh3,
.SidebarHead-Level-1sbh1+.SidebarHead-Level-4sbh4,
.SidebarHead-Level-1sbh1+.SidebarHead-Level-5sbh5,
.SidebarHead-Level-1sbh1+.SidebarHead-Level-6sbh6,
.SidebarHead-Level-2sbh2+.SidebarHead-Level-3sbh3,
.SidebarHead-Level-2sbh2+.SidebarHead-Level-4sbh4,
.SidebarHead-Level-2sbh2+.SidebarHead-Level-5sbh5,
.SidebarHead-Level-2sbh2+.SidebarHead-Level-6sbh6,
.SidebarHead-Level-3sbh3+.SidebarHead-Level-4sbh4,
.SidebarHead-Level-3sbh3+.SidebarHead-Level-5sbh5,
.SidebarHead-Level-3sbh3+.SidebarHead-Level-6sbh6,
.SidebarHead-Level-4sbh4+.SidebarHead-Level-5sbh5,
.SidebarHead-Level-4sbh4+.SidebarHead-Level-6sbh6,
.SidebarHead-Level-5sbh5+.SidebarHead-Level-6sbh6,
.TableNumbertn+.TableHeadth,
.ChartNumbercrn+.ChartHeadcrh,
.ChartHeadcrh:first-child,
.ChartHeadcrh+.ChartSubheadcrsh,
.ChartHeadcrh+.ChartLevel-1Subheadcrh1,
.ChartHeadcrh+.ChartLevel-2Subheadcrh2,
.ChartHeadcrh+.ChartLevel-3Subheadcrh3,
.ChartHeadcrh+.ChartLevel-4Subheadcrh4,
.ChartHeadcrh+.ChartLevel-5Subheadcrh5,
.ChartHeadcrh+.ChartLevel-6Subheadcrh6,
.ChartLevel-1Subheadcrh1+.ChartLevel-2Subheadcrh2,
.ChartLevel-1Subheadcrh1+.ChartLevel-3Subheadcrh3,
.ChartLevel-1Subheadcrh1+.ChartLevel-4Subheadcrh4,
.ChartLevel-1Subheadcrh1+.ChartLevel-5Subheadcrh5,
.ChartLevel-1Subheadcrh1+.ChartLevel-6Subheadcrh6,
.ChartLevel-2Subheadcrh2+.ChartLevel-3Subheadcrh3,
.ChartLevel-2Subheadcrh2+.ChartLevel-4Subheadcrh4,
.ChartLevel-2Subheadcrh2+.ChartLevel-5Subheadcrh5,
.ChartLevel-2Subheadcrh2+.ChartLevel-6Subheadcrh6,
.ChartLevel-3Subheadcrh3+.ChartLevel-4Subheadcrh4,
.ChartLevel-3Subheadcrh3+.ChartLevel-5Subheadcrh5,
.ChartLevel-3Subheadcrh3+.ChartLevel-6Subheadcrh6,
.ChartLevel-4Subheadcrh4+.ChartLevel-5Subheadcrh5,
.ChartLevel-4Subheadcrh4+.ChartLevel-6Subheadcrh6,
.ChartLevel-5Subheadcrh5+.ChartLevel-6Subheadcrh6,
.TableHeadth+.TableSubheadtsh,
.FigureNumberfgn+.FigureHeadfgh,
.FigureHeadfgh+.FigureSubheadfgsh,
.FigureHeadfgh+.FigureLevel-1Subheadfgh1,
.FigureHeadfgh+.FigureLevel-2Subheadfgh2,
.FigureHeadfgh+.FigureLevel-3Subheadfgh3,
.FigureHeadfgh+.FigureLevel-4Subheadfgh4,
.FigureHeadfgh+.FigureLevel-5Subheadfgh5,
.FigureLevel-1Subheadfgh1+.FigureLevel-2Subheadfgh2,
.FigureLevel-1Subheadfgh1+.FigureLevel-3Subheadfgh3,
.FigureLevel-1Subheadfgh1+.FigureLevel-4Subheadfgh4,
.FigureLevel-1Subheadfgh1+.FigureLevel-5Subheadfgh5,
.FigureLevel-2Subheadfgh2+.FigureLevel-3Subheadfgh3,
.FigureLevel-2Subheadfgh2+.FigureLevel-4Subheadfgh4,
.FigureLevel-2Subheadfgh2+.FigureLevel-5Subheadfgh5,
.FigureLevel-3Subheadfgh3+.FigureLevel-4Subheadfgh4,
.FigureLevel-3Subheadfgh3+.FigureLevel-5Subheadfgh5,
.FigureLevel-4Subheadfgh4+.FigureLevel-5Subheadfgh5,
.AppendixLevel-1Subheadaph1+.AppendixLevel-2Subheadaph2,
.AppendixLevel-1Subheadaph1+.AppendixLevel-3Subheadaph3,
.AppendixLevel-1Subheadaph1+.AppendixLevel-4Subheadaph4,
.AppendixLevel-1Subheadaph1+.AppendixLevel-5Subheadaph5,
.AppendixLevel-2Subheadaph2+.AppendixLevel-3Subheadaph3,
.AppendixLevel-2Subheadaph2+.AppendixLevel-4Subheadaph4,
.AppendixLevel-2Subheadaph2+.AppendixLevel-5Subheadaph5,
.AppendixLevel-3Subheadaph3+.AppendixLevel-4Subheadaph4,
.AppendixLevel-3Subheadaph3+.AppendixLevel-5Subheadaph5,
.AppendixLevel-4Subheadaph4+.AppendixLevel-5Subheadaph5,
.NoteLevel-1Subheadn1+.NoteLevel-2Subheadn2,
.NoteLevel-1Subheadn1+.NoteLevel-3Subheadn3,
.NoteLevel-1Subheadn1+.NoteLevel-4Subheadn4,
.NoteLevel-1Subheadn1+.NoteLevel-5Subheadn5,
.NoteLevel-2Subheadn2+.NoteLevel-3Subheadn3,
.NoteLevel-2Subheadn2+.NoteLevel-4Subheadn4,
.NoteLevel-2Subheadn2+.NoteLevel-5Subheadn5,
.NoteLevel-3Subheadn3+.NoteLevel-4Subheadn4,
.NoteLevel-3Subheadn3+.NoteLevel-5Subheadn5,
.NoteLevel-4Subheadn4+.NoteLevel-5Subheadn5,
.BiblioLevel-1Subheadb1+.BiblioLevel-2Subheadb2,
.BiblioLevel-1Subheadb1+.BiblioLevel-3Subheadb3,
.BiblioLevel-1Subheadb1+.BiblioLevel-4Subheadb4,
.BiblioLevel-1Subheadb1+.BiblioLevel-5Subheadb5,
.BiblioLevel-2Subheadb2+.BiblioLevel-3Subheadb3,
.BiblioLevel-2Subheadb2+.BiblioLevel-4Subheadb4,
.BiblioLevel-2Subheadb2+.BiblioLevel-5Subheadb5,
.BiblioLevel-3Subheadb3+.BiblioLevel-4Subheadb4,
.BiblioLevel-3Subheadb3+.BiblioLevel-5Subheadb5,
.BiblioLevel-4Subheadb4+.BiblioLevel-5Subheadb5,
.BOBAdLevel-1Subheadbobh1+.BOBAdLevel-2Subheadbobh2,
.BOBAdLevel-1Subheadbobh1+.BOBAdLevel-3Subheadbobh3,
.BOBAdLevel-1Subheadbobh1+.BOBAdLevel-4Subheadbobh4,
.BOBAdLevel-1Subheadbobh1+.BOBAdLevel-5Subheadbobh5,
.BOBAdLevel-2Subheadbobh2+.BOBAdLevel-3Subheadbobh3,
.BOBAdLevel-2Subheadbobh2+.BOBAdLevel-4Subheadbobh4,
.BOBAdLevel-2Subheadbobh2+.BOBAdLevel-5Subheadbobh5,
.BOBAdLevel-3Subheadbobh3+.BOBAdLevel-4Subheadbobh4,
.BOBAdLevel-3Subheadbobh3+.BOBAdLevel-5Subheadbobh5,
.BOBAdLevel-4Subheadbobh4+.BOBAdLevel-5Subheadbobh5 {
  margin-top: 0;
  }

/*
--------------------------
H1
--------------------------
*/

h1,
.FrontSalesTitlefst,
.AdCardMainHeadacmh,
.HalftitleBookTitlehtit,
.TitlepageBookTitletit,
.TOCFrontmatterHeadcfmh,
.TOCPartTitlecpt,
.TOCChapterTitlecct,
.TOCLevel-1ChapterHeadch1,
.FMHeadfmh,
.FMTitlefmt,
.FMLevel-1Subheadfmh1,
.FMHeadALTafmh,
.PartNumberpn,
.PartTitlept,
.ChapNumbercn,
.ChapTitlect,
.VolumeNumbervoln,
.VolumeTitlevolt,
.CollectionBookNumberbkn,
.CollectionBookTitlebkt,
.Head-Level-1h1,
.PoemLevel-1Subheadvh1,
.RecipeLevel-1Subheadrh1,
.Sub-RecipeLevel-1Subheadsrsh1,
.BoxHead-Level-1bh1,
.SidebarHead-Level-1sbh1,
.TableNumbertn,
.ChartNumbercrn,
.FigureNumberfgn,
.ChartLevel-1Subheadcrh1,
.FigureLevel-1Subheadfgh1,
.BMHeadbmh,
.BMTitlebmt,
.BMHeadALTabmh,
.AppendixHeadaph,
.AppendixLevel-1Subheadaph1,
.NoteLevel-1Subheadn1,
.BiblioLevel-1Subheadb1,
.BOBAdTitlebobt,
.BOBAdLevel-1Subheadbobh1 {
  text-indent: 0;
  font-size: 1.5em;
  line-height: 1.25em;
  margin: .66666666666667em 0;
  }
.TOCFrontmatterHeadcfmh,
.TOCBackmatterHeadcbmh,
.TOCPartNumbercpn,
.TOCChapterNumberccn,
.PartNumberpn,
.ChapNumbercn,
.VolumeNumbervoln,
.CollectionBookNumberbkn,
.TableNumbertn,
.ChartNumbercrn,
.FigureNumberfgn {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding: .5em;
  margin-top: 0;
  }
.TOCPartNumbercpn,
.TOCFrontmatterHeadcfmh,
.TOCBackmatterHeadcbmh,
.PartNumberpn,
.VolumeNumbervoln,
.CollectionBookNumberbkn {
  background: #999;
  }
.TOCChapterNumberccn,
.ChapNumbercn,
.TableNumbertn,
.ChartNumbercrn,
.FigureNumberfgn {
  background: #eee;
/*  margin-top: 3em; */
  }
.TableNumbertn,
.ChartNumbercrn,
.FigureNumberfgn {
  color: #999;
  margin-top: 1em;
  margin-bottom: 0;
  }
.FrontSalesTitlefst,
.AdCardMainHeadacmh,
.HalftitleBookTitlehtit,
.TitlepageBookTitletit,
.PartTitlept,
.ChapTitlect,
.VolumeTitlevolt,
.CollectionBookTitlebkt {
  text-align: center;
  }
.PartTitlept:after,
.ChapTitlect:after,
.VolumeTitlevolt:after,
.CollectionBookTitlebkt:after {
  display: block;
  width: 50%;
  margin: .66666666666667em auto;
  border-top: 1px solid #000;
  content: "";
  }

/*
--------------------------
H2
--------------------------
*/

h2,
.FrontSalesSubtitlefsst,
.AdCardSubheadacsh,
.TitlepageBookSubtitlestit,
.FMSubheadfmsh,
.FMLevel-2Subheadfmh2,
.TOCChapterSubtitleccst,
.PartSubtitlepst,
.ChapSubtitlecst,
.Head-Level-2h2,
.PoemLevel-2Subheadvh2,
.RecipeLevel-2Subheadrh2,
.Sub-RecipeLevel-2Subheadsrsh2,
.BoxHead-Level-2bh2,
.SidebarHead-Level-2sbh2,
.ChartLevel-2Subheadcrh2,
.FigureLevel-2Subheadfgh2,
.BMSubheadbmsh,
.AppendixSubheadapsh,
.AppendixLevel-2Subheadaph2,
.NoteLevel-2Subheadn2,
.BiblioLevel-2Subheadb2,
.IndexInternalSubheadih1,
.BOBAdSubtitlebobst,
.BOBAdLevel-2Subheadbobh2 {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: bold;
  margin: 1em 0 0 0;
  }
.FrontSalesSubtitlefsst,
.AdCardSubheadacsh,
.TitlepageBookSubtitlestit,
.PartSubtitlepst,
.ChapSubtitlecst {
  text-align: center;
  margin-bottom: 1em;
  }
.PartSubtitlepst:after,
.ChapSubtitlecst:after {
  display: block;
  width: 25%;
  margin: 1em auto;
  border-top: 1px solid #000;
  content: "";
  }

/*
--------------------------
H3
--------------------------
*/

h3,
.FrontSalesQuoteHeadfsqh,
.PartContentsMainHeadpcmh,
.FMLevel-3Subheadfmh3,
.Head-Level-3h3,
.PoemLevel-3Subheadvh3,
.RecipeLevel-3Subheadrh3,
.IngredientsHeadrih,
.Sub-RecipeLevel-3Subheadsrsh3,
.Sub-RecipeIngredientsHeadsrih,
.Menumenu,
.RecipeVarHeadrvh,
.RecipeNoteHeadrnh,
.Extract-NoteHeadextnh,
.BoxHead-Level-3bh3,
.SidebarHead-Level-3sbh3,
.ChartLevel-3Subheadcrh3,
.FigureLevel-3Subheadfgh3,
.AppendixLevel-3Subheadaph3,
.GlossaryTermglt,
.NoteLevel-3Subheadn3,
.BiblioLevel-3Subheadb3,
.BOBAdLevel-3Subheadbobh3,
.BOBAdQuoteHeadbobqh {
  text-indent: 0;
  font-weight: bold;
  margin: 1em 0 0 0;
  }

/*
--------------------------
H4
--------------------------
*/

h4,
.PartContentsHeadpch,
.FMLevel-4Subheadfmh4,
.Head-Level-4h4,
.PoemLevel-4Subheadvh4,
.RecipeLevel-4Subheadrh4,
.Sub-RecipeLevel-4Subheadsrsh4,
.BoxHead-Level-4bh4,
.SidebarHead-Level-4sbh4,
.ChartLevel-4Subheadcrh4,
.FigureLevel-4Subheadfgh4,
.AppendixLevel-4Subheadaph4,
.NoteLevel-4Subheadn4,
.BiblioLevel-4Subheadb4,
.BOBAdLevel-4Subheadbobh4 {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  margin: 1em 0 0 0;
  }

/*
--------------------------
H5
--------------------------
*/

h5,
.FMLevel-5Subheadfmh5,
.Head-Level-5h5,
.ExtractHeadexth,
.PoemTitlevt,
.PoemLevel-5Subheadvh5,
.RecipeLevel-5Subheadrh5,
.Sub-RecipeLevel-5Subheadsrsh5,
.RecipeHeadrh,
.Sub-RecipeHeadsrh,
.BoxHeadbh,
.BoxHead-Level-5bh5,
.SidebarHeadsbh,
.SidebarHead-Level-5sbh5,
.ChartHeadcrh,
.ChartLevel-5Subheadcrh5,
.FigureHeadfgh,
.FigureLevel-5Subheadfgh5,
.TableHeadth,
.AppendixLevel-5Subheadaph5,
.NoteLevel-5Subheadn5,
.BiblioLevel-5Subheadb5,
.BOBAdLevel-5Subheadbobh5 {
  text-indent: 0;
  font-style: italic;
  margin: 1em 0 0 0;
  }
.ExtractHeadexth,
.PoemTitlevt,
.RecipeHeadrh,
.Sub-RecipeHeadsrh,
.BoxHeadbh,
.SidebarHeadsbh,
.ChartHeadcrh,
.TableHeadth,
.FigureHeadfgh {
  font-size: 1em;
  background: #ccc;
  }

/*
--------------------------
H6
--------------------------
*/

h6,
.Head-Level-6h6,
.PoemSubtitlevst,
.PoemNumericSubheadsvhn,
.RecipeSubheadrsh,
.Sub-RecipeSubheadsrsh,
.BoxSubheadbsh,
.SidebarSubheadsbsh,
.TableSubheadtsh,
.ChartSubheadcrsh,
.FigureSubheadfgsh {
  text-indent: 0;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .1em;
  margin: 1em 0 0 0;
  }
.PoemSubtitlevst,
.RecipeSubheadrsh,
.Sub-RecipeSubheadsrsh,
.BoxSubheadbsh,
.SidebarSubheadsbsh,
.TableSubheadtsh,
.ChartSubheadcrsh,
.FigureSubheadfgsh {
  border-bottom: 2px solid #ccc;
  margin-bottom: 1em;
  }

/*
--------------------------------------------------
FRONT SALES
--------------------------------------------------
*/

.FrontSalesTextfstx,
.FrontSalesTextNoIndentfstx1 {
  }
.FrontSalesQuotefsq,
.FrontSalesQuoteNoIndentfsq1 {
  font-style: italic;
  }

/*
--------------------------------------------------
AD CARD
--------------------------------------------------
*/

.AdCardListofTitlesacl {
  text-indent: 0;
  text-align: center;
  }

/*
--------------------------------------------------
TITLE PAGE
--------------------------------------------------
*/

.TitlepageAuthorNameau,
.TitlepageContributorNamecon,
.TitlepageTranslatorNametran,
.TitlepageSeriesTitleser,
.TitlepageReadingLinerl,
.TitlepageImprintLineimp,
.TitlepagePublisherNamepub,
.TitlepageCitiescit {
  text-indent: 0;
  text-align: center;
  margin: 1em 0;
  }

/*
--------------------------------------------------
COPYRIGHT PAGE
--------------------------------------------------
*/

.CopyrightTextsinglespacecrtx,
.CopyrightTextdoublespacecrtxd {
  text-indent: 0;
  }
.CopyrightTextdoublespacecrtxd {
  margin: 1em 0;
  }

/*
--------------------------------------------------
DEDICATION PAGE
--------------------------------------------------
*/

.Dedicationded,
.DedicationAuthordedau {
  text-indent: 0;
  text-align: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  }
.Dedicationded {
  font-style: italic;
  }
.DedicationAuthordedau {
  margin-top: 1em;
  }

/*
--------------------------------------------------
EPIGRAPH PAGE (AND OTHER EPIGRAPHS)
--------------------------------------------------
*/

blockquote[data-type="epigraph"] {
  margin: 2em 1.5em;
  }
.Epigraphnon-verseepi,
.Epigraphverseepiv,
.FMEpigraphnon-versefmepi,
.FMEpigraphversefmepiv,
.PartEpigraphnon-versepepi,
.PartEpigraphversepepiv,
.ChapEpigraphnon-versecepi,
.ChapEpigraphversecepiv,
.EpigraphinTextnon-versetepi,
.EpigraphinTextversetepiv,
.PoemEpigraphnon-versevepi,
.PoemEpigraphversevepiv,
.BoxEpigraphnon-versebepi,
.BoxEpigraphversebepiv,
.SidebarEpigraphnon-versesbepi,
.SidebarEpigraphversesbepiv {
  font-style: italic;
  }
.EpigraphSourceeps,
.FMEpigraphSourcefmeps,
.PartEpigraphSourcepeps,
.ChapEpigraphSourceceps,
.EpigraphinTextSourceteps,
.PoemEpigraphSourceveps,
.BoxEpigraphSourcebeps,
.SidebarEpigraphSourcesbeps,
.FrontSalesQuoteSourcefsqs,
.BOBAdQuoteSourcebobqs {
  text-indent: 0;
  font-style: normal;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .1em;
  margin-bottom: 1em;
  }
/*
.EpigraphSourceeps:before,
.FMEpigraphSourcefmeps:before,
.PartEpigraphSourcepeps:before,
.ChapEpigraphSourceceps:before,
.EpigraphinTextSourceteps:before,
.PoemEpigraphSourceveps:before,
.BoxEpigraphSourcebeps:before,
.SidebarEpigraphSourcesbeps:before,
.FrontSalesQuoteSourcefsqs:before,
.BOBAdQuoteSourcebobqs:before {
  content: " — ";
  }
*/

/*
--------------------------------------------------
CONTENTS PAGE
--------------------------------------------------
*/

.TOCAuthorcau,
.TOCPartNumbercpn,
.TOCPartTitlecpt,
.TOCChapterNumberccn,
.TOCChapterTitlecct,
.TOCChapterSubtitleccst,
.TOCLevel-1ChapterHeadch1,
.TOCBackmatterHeadcbmh,
.TOCPageNumbercnum {
  list-style: none;
  text-indent: 0;
  text-align: center;
  }
.TOCAuthorcau {
  font-style: italic;
  margin: 1em 0;
  }
.TOCPartNumbercpn,
.TOCChapterNumberccn {
  margin-left: 15%;
  margin-right: 15%;
  }

/*
--------------------------------------------------
OTHER FRONTMATTER
--------------------------------------------------
*/

.FMTitlefmt,
.FMAuthorNamefmau,
.FMAuthorSignatureausig,
.FMDramatisPersonaefmdp {
  text-indent: 0;
  margin: 1em 0;
  }
.FMHeadfmh,
.FMTitlefmt,
.FMSubheadfmsh,
.FMAuthorNamefmau,
.FMHeadALTafmh {
  text-align: center;
  }
.FMHeadALTafmh,
.FMAuthorSignatureausig,
.FMTextALTafmtx,
.FMTextNo-IndentALTafmtx1 {
  font-style: italic;
  }
.FMDramatisPersonaefmdp {
  text-transform: uppercase;
  letter-spacing: .075em;
  }

/*
--------------------------------------------------
PART OPENERS
--------------------------------------------------
*/

.PartOrnamentporn,
.PartOrnamentALTporn2,
.PartContentsMainHeadpcmh,
.PartContentsHeadpch {
  text-indent: 0;
  text-align: center;
  margin: 1em 0;
  }

/*
--------------------------------------------------
CHAPTER OPENERS
--------------------------------------------------
*/

.ChapAuthorca,
.Dateline-Chapterdl,
.ChapOrnamentcorn,
.ChapOrnamentALTcorn2 {
  text-align: center;
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
TEXT
--------------------------------------------------
*/

.Text-ComputerTypecom,
.Text-ComputerTypeNo-Indentcom1 {
  font-family: "Courier New",monospaced,Georgia,"Times New Roman",sans-serif;
  }
.Text-StandardALTatx,
.Text-StdNo-IndentALTatx1 {
  font-style: italic;
  }

/*
--------------------------------------------------
DISPLAY TEXT
--------------------------------------------------
*/

.InitialCapic {
  }
.DisplayPhrasedis {
  clear: both;
  color: #999;
  font-size: 1.125em;
  font-style: italic;
  text-indent: 0;
  text-align: center;
  padding: .5em;
  background: #eee;
  margin: 1em 0;
  }
.Storydatelinesdl,
.Storylocationlinesloc {
  text-indent: 0;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .1em;
  margin: 1em 0;
  }

/*
--------------------------------------------------
SPACE BREAKS
--------------------------------------------------
*/

.SpaceBreak,
.SectionBreaksbr,
.SpaceBreakwithOrnamentorn,
.SpaceBreakwithALTOrnamentorn2,
.PartStartpts,
.PartEndpte,
.PageBreakpb,
.SpaceBreak-1-Linels1,
.SpaceBreak-2-Linels2,
.SpaceBreak-3-Linels3 {
  text-indent: 0;
  text-align: center;
  }
.SpaceBreak,
.SectionBreaksbr,
.SpaceBreakwithOrnamentorn,
.SpaceBreakwithALTOrnamentorn2,
.SpaceBreak-1-Linels1 {
  margin: 1em 0;
  }
.SpaceBreak-2-Linels2 {
  margin: 1em 0 2em 0;
  }
.SpaceBreak-3-Linels3 {
  margin: 1em 0 3em 0;
  }
.Dateline-Texttdl {
  text-indent: 0;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .1em;
  margin: 1em 0;
  }

/*
--------------------------------------------------
EXTRACTS
--------------------------------------------------
*/

aside.extract {
  padding: 1.5em;
  border: 2px solid #ccc;
  margin: 1em 0;
  }
aside.extract,
.Extractext,
.Extract-Newspapernews,
.Extract-Diaryextd,
.Extract-Transcripttrans,
.Extract-NoIndentext1,
.Extract-BulletListextbl,
.Extract-NumListextnl,
.Extract-NoteHeadextnh,
.ExtractHeadexth,
.Extract-VerseorPoetryextv,
.Extract-Noteextn,
.Extract-Headlineexthl,
.Extract-Emailextem,
.Extract-EmailHeadingemh,
.Extract-Websiteextws,
.Extract-SongLyricextsl,
.Extract-BusinessCardextbc,
.Extract-Telegramtel,
.Extract-Inscriptionins,
.Extract-ScheduleofEventssch,
.BoxExtractbext,
.BoxExtract-Versebextv,
.SidebarExtractsbext,
.SidebarExtract-Versesbextv {
  font-style: italic;
  text-indent: 0;
  }
.Extract-Headlineexthl,
.Extract-EmailHeadingemh {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  }
.Extract-Telegramtel {
  font-family: "Courier New",monospaced,Georgia,"Times New Roman",sans-serif;
  text-transform: uppercase;
  }

/*
--------------------------------------------------
LETTERS
--------------------------------------------------
*/

.LetterExtHeadnotehn {
  text-transform: uppercase;
  letter-spacing: .075em;
  }
.LetterExtHeadnotehn+p,
.LetterExtAddressladd,
.LetterExtSalutationlsa,
.LetterExtClosinglcl,
.LetterExtSignaturelsig,
.LetterExtPostscriptlps {
  text-indent: 0;
  }
.LetterExtDatelineldl {
  margin: 1em 0;
  }
p+.LetterExtSalutationlsa,
.LetterExtClosinglcl,
.LetterExtSignaturelsig,
.LetterExtPostscriptlps {
  margin-top: 1em;
  }
.LetterExtClosinglcl+.LetterExtSignaturelsig {
  margin-top: 0;
  }

/*
--------------------------------------------------
SCREENPLAY
--------------------------------------------------
*/

.ScreenplayDramatisPersonaedp,
.ScreenplayHeadsph,
.ScreenplaySubheadspsh,
.ScreenplaySpeakers,
.ScreenplayExtractsp,
.ScreenplayTextsptx,
.ScreenplayTextNo-Indentsptx1,
.ScreenplayStageDirectionssd {
  font-family: "Courier New",monospaced,Georgia,"Times New Roman",sans-serif;
  font-style: normal;
  text-indent: 0;
  }
.ScreenplayDramatisPersonaedp,
.ScreenplayHeadsph,
.ScreenplaySubheadspsh,
.ScreenplaySpeakers {
  text-transform: uppercase;
  }
.ScreenplayHeadsph,
.ScreenplaySubheadspsh {
  margin-top: 1em;
  margin-bottom: 1em;
  }
.ScreenplaySpeakers {
  text-align: center;
  margin-top: 1em;
  }
.ScreenplaySpeakers,
.ScreenplayTextsptx,
.ScreenplayTextNo-Indentsptx1 {
  margin-left: 3em;
  margin-right: 3em;
  }
.ScreenplayStageDirectionssd {
  font-style: italic;
  margin: 1em 0;
  }
.ScreenplayTextsptx {
  text-indent: 1.5em;
  }

/*
--------------------------------------------------
POETRY
--------------------------------------------------
*/

.PoemTitlevt+.PoemSubtitlevst {
  margin-top: 0;
  }
.PoemDedicationvded {
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  letter-spacing: 0;
  }
.VerseTextvtx,
.Epigraphverseepiv,
.FMEpigraphversefmepiv,
.PartEpigraphversepepiv,
.ChapEpigraphversecepiv,
.Extract-VerseorPoetryextv,
.Extract-SongLyricextsl,
.EpigraphinTextversetepiv,
.PoemEpigraphversevepiv,
.BoxEpigraphversebepiv,
.BoxExtract-Versebextv,
.SidebarEpigraphversesbepiv,
.SidebarExtract-Versesbextv,
.Example-Versevexa {
  margin-left: 1.5em;
  text-indent: -1.5em;
  }
.VerseRun-inTextvrtx {
  text-indent: 0;
  margin-left: 1.5em;
  }
.PoemDatelinevdl,
.PoemDedicationvded {
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------
LISTS
--------------------------
*/

.ListHeadlh {
  font-weight: bold;
  text-indent: 0;
  margin: 1em 0;
  }
ul,
ol {
  margin: 1em 0;
  }
li,
/*
.ListNumnl,
.ListNumSubentrynsl,
*/
.ListAlphaal,
/*
.ListAlphaSubentryasl,
.ListBulletbl,
.ListBulletSubentrybsl,
.ListUnnumul,
.ListUnnumSubentryusl,
*/
.NumberedParagraphsnp,
.BulletedParagraphsbp,
/*
.Extract-NumListextnl,
.Extract-BulletListextbl,
*/
.IngredientsListri,
.Sub-RecipeIngredientsListsri
/*
.BoxListNumbnl,
.BoxListBulletbbl,
.BoxListUnnumbul,
.SidebarListNumsbnl,
.SidebarListBulletsbbl,
.SidebarListUnnumsbul
.AppendixListNumapnl,
.AppendixListUnnumapul,
.AppendixListBulletapbl
*/ {
  display: list-item;
  list-style-position: outside;
  margin-left: 1.5em;
  text-indent: 0;
  }
li ul,
li ol {
  margin: 0;
  }
ul li,
/*
.ListBulletbl,
.ListUnnumul,
*/
.BulletedParagraphsbp,
/*
.Extract-BulletListextbl,
*/
.IngredientsListri,
.Sub-RecipeIngredientsListsri
/*
.BoxListBulletbbl,
.BoxListUnnumbul,
.SidebarListBulletsbbl,
.SidebarListUnnumsbul
.AppendixListUnnumapul,
.AppendixListBulletapbl
*/ {
  list-style-type: disc;
  }
li ul li,
.ListBulletSubentrybsl,
.ListUnnumSubentryusl {
  list-style-type: square;
  }
ol li,
/*
.ListNumnl,
.ListNumSubentrynsl,
*/
.ListAlphaal,
/*
.ListAlphaSubentryasl,
*/
.NumberedParagraphsnp
/*
.Extract-NumListextnl,
.BoxListNumbnl,
.SidebarListNumsbnl,
.AppendixListNumapnl
*/ {
/*list-style-type: decimal;*/
  list-style-type: none;
  }
li ol li
/*
.ListNumSubentrynsl,
.ListAlphaSubentryasl,
*/ {
  border-bottom: none;
  }
/*
.ListNumSubentrynsl {
  list-style-type: lower-roman;
  }
.ListAlphaal {
  list-style-type: upper-alpha;
  }
li.ListAlphaSubentryasl {
  list-style-type: lower-alpha;
  }
*/
li.Checklistck,
li.ChecklistSubentrycksl {
  list-style-type: none;
  text-indent: 0;
  margin-left: 1.5em;
  }
li.Checklistck:before,
li.ChecklistSubentrycksl:before {
  display: block;
  width: 1.5em;
  float: left;
  margin-left: -1.5em;
  text-align: center;
  content: "\2713"; /* U+2713 "check mark" */
  }
.ColumnHeadch {
  font-weight: bold;
  text-indent: 0;
  }

/*
.RecipeProceduresrp,
.RecipeProceduresNoIndentrp1,
.Sub-RecipeProceduressrp,
.Sub-RecipeProceduresNoIndentrp1,
.Definition-Numberedndef
*/

/*
--------------------------------------------------
ILLUSTRATIONS
--------------------------------------------------
*/

.Illustrationholderill {
  background: #eee;
  margin-top: 1em;
  }
.Captioncap {
  color: #666;
  text-indent: 0;
  text-align: center;
  font-size: .875em;
  font-style: italic;
  padding: 1em 0;
  }
.IllustrationSourceis {
  text-align: right;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .1em;
  margin: 0;
  }
.Illustrationholderill+p,
.IllustrationSourceis+p {
  margin-top: 1em;
  }
.Illustrationholderill+.IllustrationSourceis {
  margin-top: 0;
  }

/*
--------------------------------------------------
RECIPES
--------------------------------------------------
*/

.Menumenu,
.ChapterContentscc {
  }
.RecipeHeadnoterhn,
.Sub-RecipeHeadnotesrhn {
  font-style: italic;
  text-indent: 0;
  }
.RecipeTimert,
.RecipeYieldry,
.Sub-RecipeYieldsry,
.RecipeNutritionInforni,
.RecipeGarnishrg {
  margin-top: 1em;
  margin-bottom: 1em;
  text-indent: 0;
  }
.RecipeVarHeadrvh,
.RecipeVarTextrvtx,
.RecipeVarTextNo-Indentrvtx1,
.RecipeNoteHeadrnh,
.RecipeNoteTextrntx,
.RecipeNoteTextNo-Indentrntx1 {
  font-style: italic;
  }
.Sub-RecipeHeadsrh,
.Sub-RecipeSubheadsrsh,
.Sub-RecipeLevel-2Subheadsrsh2,
.Sub-RecipeLevel-3Subheadsrsh3,
.Sub-RecipeLevel-4Subheadsrsh4,
.Sub-RecipeLevel-5Subheadsrsh5,
.Sub-RecipeHeadnotesrhn,
.Sub-RecipeIngredientsHeadsrih,
.Sub-RecipeIngredientsListsri,
.Sub-RecipeProceduressrp,
.Sub-RecipeProceduresNoIndentrp1,
.Sub-RecipeYieldsry {
  margin-left: 1.5em;
  margin-right: 1.5em;
  }
.Sub-RecipeLevel-1Subheadsrsh1 {
  margin-left: 1em;
  margin-right: 1em;
  }
.Sub-RecipeIngredientsListsri,
.Sub-RecipeProceduressrp,
.Sub-RecipeProceduresNoIndentrp1 {
  margin-left: 3em;
  }

/*
--------------------------------------------------
BOXES AND SIDEBARS
--------------------------------------------------
*/

.TOCPartNumbercpn,
.TOCChapterNumberccn,
.RecipeHeadrh,
.Sub-RecipeHeadsrh,
.RecipeSubheadrsh,
.Sub-RecipeSubheadsrsh,
.BoxHeadbh,
.BoxSubheadbsh,
.SidebarHeadsbh,
.ExtractHeadexth,
.PoemTitlevt,
.SidebarSubheadsbsh,
.PoemSubtitlevst,
.TableHeadth,
.TableSubheadtsh,
.ChartHeadcrh,
.ChartSubheadcrsh,
.FigureHeadfgh,
.FigureSubheadfgsh {
  text-align: center;
  padding: .5em 0;
  }
.BoxHeadbh+p,
.SidebarHeadsbh+p,
.ExtractHeadexth+p,
.PoemTitlevt+p, {
  margin-top: 1em;
  }
.BoxSourceNotebsn,
.BoxFootnotebfn,
.SidebarSourceNotesbsn,
.SidebarFootnotesbfn {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }
.BoxExtractbext,
.BoxExtract-Versebextv,
.SidebarExtractsbext,
.SidebarExtract-Versesbextv {
  }

/*
--------------------------------------------------
TABLES, CHARTS, and FIGURES
--------------------------------------------------
*/

table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  }
th,
td {
  padding: .5em;
  border: 1px solid #ccc;
  }
.TableColumnHeadtch,
.TableSourceNotetsn,
.TableFootnotetfn,
.ChartColumnHeadcrch,
.ChartLabelcrl,
.ChartSourceNotecrxn,
.ChartFootnotecrfn,
.FigureColumnHeadfgch,
.FigureLabelfgl,
.FigureSourceNotefgsn,
.FigureFootnotefgfn {
  text-indent: 0;
  }
.TableColumnHeadtch,
.ChartColumnHeadcrch,
.FigureColumnHeadfgch {
  font-weight: bold;
  }
.TableSourceNotetsn,
.TableFootnotetfn,
.ChartSourceNotecrxn,
.ChartFootnotecrfn,
.FigureSourceNotefgsn,
.FigureFootnotefgfn {
  font-size: .75em;
  margin: 1em 0;
  }

/*
--------------------------------------------------
GENERAL BACKMATTER HEADS
--------------------------------------------------
*/

.BMHeadbmh,
.BMTitlebmt,
.BMSubheadbmsh,
.BMHeadALTabmh {
  text-align: center;
  }
.BMHeadALTabmh,
.BMTextALTabmtx,
.BMTextALTNo-Indentabmtx1 {
  font-style: italic;
  }

/*
--------------------------------------------------
APPENDICES
--------------------------------------------------
*/

.AppendixHeadaph,
.AppendixSubheadapsh {
  text-align: center;
  }
.AppendixSourceNoteapsn,
.AppendixFootnoteapfn {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
GLOSSARY and DICTIONARY-STYLE ENTRIES
--------------------------------------------------
*/

.Exampleexa,
.Example-Versevexa,
.Exampleegeg,
.Exampleindialogformexad {
  font-style: italic;
  }
.GlossaryTextgltx,
.Entryen,
.Definitiondef,
.DefinitionSourcedefs,
.Exampleexa,
.Referencesee,
.Exampleegeg,
.Exampleindialogformexad {
  text-indent: 0;
  }
.DefinitionSourcedefs {
  margin: 1em 0;
  }

/*
--------------------------------------------------
ADDRESSES
--------------------------------------------------
*/

.Addressadd {
  text-indent: 0;
  }

/*
--------------------------------------------------
NOTES SECTION
--------------------------------------------------
*/

.FootnoteTextfn {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
BIBLIOGRAPHY
--------------------------------------------------
*/

.BibliographyTextbibtx {
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
INDEX
--------------------------------------------------
*/

.IndexEntryine,
.IndexSubentryinse,
.IndexSub-subentryinsse {
  text-indent: 0;
  }
.IndexSubentryinse {
  margin-left: 1.5em;
  }
.IndexSub-subentryinsse {
  margin-left: 3em;
  }

/*
--------------------------------------------------
ILLUSTRATIONS PERMISSIONS and PERMISSIONS ACKNOWLEDGMENTS
--------------------------------------------------
*/

/*
--------------------------------------------------
ABOUT THE AUTHOR
--------------------------------------------------
*/

/*
--------------------------------------------------
COLOPHON
--------------------------------------------------
*/

/*
--------------------------------------------------
BACK-OF-BOOK ADS
--------------------------------------------------
*/

/*
--------------------------------------------------
CHARACTER STYLES and MISC.
--------------------------------------------------
*/
